* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: han_yi_65w;
    src: url('./hanyirunyuan65w.ttf');
}

body {
    font-family: 'han_yi_65w';
}

body {
    background: url(./img/bg.png) no-repeat;
    background-color: black;
    background-size: cover;
    background-position: 0 0;
}

.chat {
    width: 580px;
    /* height: 86%; */
    max-height: 86%;
    position: absolute;
    top: 20px;
    right: 10%;
    background-color: rgba(220,222,224,0.96);
    border-radius: 0 50px 0 0;
}


.chat_shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -8px;
    top: 8px;
    box-sizing: border-box;
    border-radius: 0 50px 0 0;
    border: 1px solid rgba(220,222,224,0.8);
    z-index: -233;
}

.chat_top {
    height: 60px;
    border-bottom: 2px solid rgba(177,171,171,0.8);
}

.chat_name {
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    padding-left: 25px;
    float: left;
}

.chat_close {
    width: 30px;
    height: 30px;
    background-color: rgba(177,171,171,0.8);
    border-radius: 50%;
    float: right;
    margin-top: 20px;
    margin-right: 44px;
}


.chat_window {
    width: 93%;
    height: 90%;
    border-right: 1px solid rgba(177,171,171,0.8);
    overflow: auto;
    padding-top: 20px;
    position: relative;
}

/* 聊天窗口滚动条 */
.chat_window::-webkit-scrollbar {
    background-color: rgba(196,194,194);
    width: 6px;
}
.chat_window::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    background-color: #807d7d;
}
.chat_window::-webkit-scrollbar-thumb:hover {
    background-color: black
}
.chat_window::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.8);
}

.msg {
    padding: 10px 0 10px 20px;
    overflow: hidden;
}


.msg .msg_head {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    background: url(./img/1.gif);
    background-size: cover;
    float: left;
}


.msg .msg_right_part {
    float: left;
}


.msg .msg_user {
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: rgba(118,120,117,1);
}

.msg .msg_contine {
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(235, 235, 235, 1);
    border-radius: 0 20px 20px 20px;
    margin-left: 20px;
    font-weight: 500;
}



.my_msg {
    padding: 20px;
    overflow: hidden;
}




.my_msg .msg_head {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    background: url(./img/2.gif);
    background-size: cover;
    float: right;
}

.my_msg .msg_left_part {
    float: right;
}

.my_msg .msg_user {
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: rgba(118,120,117,1);
    text-align: right;
}

.my_msg .msg_contine {
    font-size: 18px;
    background-color: rgba(212, 186, 139, 1);
    border-radius: 20px 0px 20px 20px;
    padding: 10px 20px 10px 20px; 
    margin-right: 20px;
    font-weight: 500;
}



.msg_end {
    height: 70px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.msg_end div {
    width: 86%;
    height: 1px;
    border-bottom: 2px solid rgba(177,171,171, 0.8);
}


.msg_contine img {
    width: 200px;
    border-radius: 20px;
}

.set_text {
    transition: all 3s;
    width: 500px;
}

.set_text p {
    background-color: rgba(177,171,171, 0.8);
    text-align: center;
}

.set_text .hide {
    background-color: rgba(177,171,171, 0.8);
    text-align: center;
    cursor: pointer;
    
}

.set_text textarea {
    width: 100%;
    resize: none;
}
.set_text:hover {
    opacity: 1;
}